@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

 body, html {
    height: auto;
    margin: 0;
  }
  
 .bg {
    /* The image used */
    background-image: url("img/Mohon\ Maaf-min.png"), url("img/ASSET-min.png"), url("img/Background-min.png");
    background-repeat: no-repeat;
    background-size: 850px 420px, auto, cover;
    background-position: center center, right top, center center;

    /* Full height */
    height: fit-content; 
  
    /* Center and scale the image nicely */

  }

  #kolom {
      width: 310px;
  }

  #konten .no-pad {
      margin-top: -100px !important;
  }

  #konten .no-pad p{
      margin-top: -2px;
      margin-bottom: -2px;
      margin-left: 120px;
      font-size: 16px;
      font-family: 'Karla', sans-serif;
    }

  br {
    display: block;
    margin: -20px 0;
 }

  #konten {
    padding-top: 150px;
  }
  
  #konten .right-text {
    padding-top: 70px;
    margin-left: -90px;
    align-self: center;
    text-align: left;

  }
  
  #konten .left-text p {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    line-height: 0px;
  }
  
  #konten .subhead {
      margin-bottom: 30px;
  }

  #konten .subhead p {
    font-size: 53px;
    font-family: 'Karla', sans-serif;
    line-height: 40px;
  }

  .left-margin {
      margin-left: -25px;
  }

 .footer-down {
     margin-top:120px;
 }

 .footer-img {
    margin-top:60px;
}

 .footer-down p {
     margin: 0px;
     font-family: 'Karla', sans-serif;
     font-size: 16px;
 }

 .short-text {
     display: none;
 }


  @media (max-width:1440px) {


    #kolom {
        width: 350px;
        margin-left: 40px !important;
    }

    #konten {
        padding-top: 150px;
    }
    #konten .subhead p {
        font-size: 55px;
        font-family: 'Karla', sans-serif;
        line-height: 40px;
      }

      #konten .left-text p {
        font-size: 20px;
        font-family: 'Karla', sans-serif;
        line-height: 0px;
      }

    #konten .no-pad p{
        margin-top: -2px;
        margin-bottom: -2px;
        margin-left: 120px;
        font-size: 20px;
        font-family: 'Karla', sans-serif;
      }

      .footer-down{
          margin-top: 70px;
      }
      .footer-down p {
        margin-bottom: 5px;
        font-family: 'Karla', sans-serif;
        font-size: 17px;
     }

    .footer-img {
        margin-top:10px;
    }

    #konten .right-text {
        padding-top: 60px;
    }
    .full-text p {
        margin-top: 0px;
    }
  } 
  
  @media (max-width:1200px) {

    #kolom {
        width: 320px;
        margin-left: 40px !important;
        padding-top: 30px;
    }

    #konten .right-text {
        padding-top: 90px;
        padding-right: 0px;
    }
    #konten .subhead p {
        font-size: 45px;
        font-family: 'Karla', sans-serif;
        line-height: 40px;
      }

      #konten .left-text p {
        font-size: 18px;
        font-family: 'Karla', sans-serif;
        line-height: 0px;
        margin-right: -20px;
      }

    #konten .no-pad p{
        margin-top: -2px;
        margin-bottom: -2px;
        margin-left: 120px;
        font-size: 18px;
        font-family: 'Karla', sans-serif;
      }

      .footer-down{
        padding-top: 0px;
        margin-top: 60px;
    }
    .footer-down p {
        margin-bottom: 5px;
        font-family: 'Karla', sans-serif;
        font-size: 15px;
    }

    .footer-img {
        margin-top:20px;
    }
    #konten .right-text {
        padding-top: 90px;
    }
    .full-text p {
        margin-top: 0px;
    }
  } 

  @media (max-width:1024px) {

    #kolom {
        width: 310px;
        padding-top: 45px;
    }

    #konten {
        padding-top: 140px;
    }
    #konten .subhead p {
        font-size: 42px;
        font-family: 'Karla', sans-serif;
        line-height: 40px;
      }

      #konten .left-text p {
        font-size: 18px;
        font-family: 'Karla', sans-serif;
      }

    #konten .no-pad p{
        margin-top: -2px;
        margin-bottom: -2px;
        margin-left: 120px;
        font-size: 18px;
        font-family: 'Karla', sans-serif;
      }

    #konten .right-text {
        padding-top: 90px;
    }

    .footer-down {
        padding-top: 70px;
        margin-top: 20px;
    }
    .footer-down p {
        margin: 0px;
        font-family: 'Karla', sans-serif;
        font-size: 15px;
    }

    .footer-img {
        margin-top:50px;
    }

    
    .full-text p {
        margin-top: 0px;
    }
} 

  @media (max-width:991px) {
    #konten {
        padding-top: 150px;
      }
      
    #kolom {
        width: 290px;
        margin-left: 0px !important;
        padding-top: 60px;
    }

    .down-pad {
        padding-top: 0px;
    }

    #konten .right-text {
        padding-top: 70px;
        padding-left: 0px;
        margin-left: -20px;
        margin-right: 0px;
    }
    #konten .subhead {
        margin-bottom: 10px;
        padding-top: 10px;
    }

    #konten .subhead p {
        font-size: 37px;
        font-family: 'Karla', sans-serif;
        line-height: 35px;
      }

      #konten .left-text p {
        font-size: 17px;
        font-family: 'Karla', sans-serif;
        line-height: 30px;
      }

    #konten .no-pad p{
        margin-top: -2px;
        margin-bottom: -2px;
        margin-left: 30px;
        font-size: 17px;
        font-family: 'Karla', sans-serif;
      }

    .footer-down p {
        margin-top: -15px;
        padding-bottom: 20px;
        font-family: 'Karla', sans-serif;
        font-size: 15px;
    }

    .short-text {
        display: inline-block;
    }

    .short-text br {
        margin-top: 20px;
    }

    .full-text {
        display: none;
    }
    
  } 

  @media (max-width:825px) {

    .down-pad {
        padding-top: 30px;
    }
    #kolom {
        width: 280px;
        margin-left: 20px !important;
        padding-top: 40px;
    }

    #konten {
        padding-top: 190px;
    }

    #konten .right-text {
        padding-top: 30px;
        padding-left: 0px;
        margin-left: -20px;
    }

    #konten .subhead {
        margin-bottom: 10px;
        padding-top: 20px;
    }


    #konten .subhead p {
        font-size: 38px;
        font-family: 'Karla', sans-serif;
        line-height: 35px;
    }

    #konten .left-text p {
    margin-bottom: 10px;
    font-size: 17px;
    font-family: 'Karla', sans-serif;
    }

    #konten .no-pad p{
        margin-top: -2px;
        margin-bottom: -2px;
        margin-left: 40px;
        font-size: 17px;
        font-family: 'Karla', sans-serif;
      }

      .footer-down {
          margin-top: 0px;
          padding-top: 10px;
      }

.footer-down p {
    margin-top: -15px;
    padding-bottom: 20px;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
}
.footer-img {
    margin-top:25px;
}

    .short-text {
        display: inline-block;
    }

    .short-text br {
        margin-top: 20px;
    }

    .full-text {
        display: none;
    }
    
  }

  @media (max-width:767px) {
    #kolom, #s-hidden {
        display: none !important;
      }

   .down-pad {
       padding-top: 0;
   }

   #konten .right-text {
    padding-top: 30px;
    padding-left: 30px;
    margin-left: -20px;
    padding-right: 20px;

}

#konten .subhead p {
    font-size: 50px;
    font-family: 'Karla', sans-serif;
    line-height: 35px;
}

   #konten .left-text p {
   margin-bottom: 10px;
   font-size: 18px;
   font-family: 'Karla', sans-serif;
   }

   #konten .no-pad p{
       margin-top: -2px;
       margin-bottom: -2px;
       margin-left: 0px;
       font-size: 18px;
       font-family: 'Karla', sans-serif;
     }

     .footer-down{
         margin-top: 70px;
     }

   .footer-down p {
   margin-top: -45px;
   padding-bottom: 50px;
   font-family: 'Karla', sans-serif;
   font-size: 17px;
}

   .short-text {
       display: inline-block;
   }

   .short-text br {
       margin-top: 20px;
   }

   .full-text {
       display: none;
   }
   
 } 

 @media (max-width:575px) {
    #kolom, #s-hidden {
        display: none !important;
      }

   .down-pad {
       padding-top: 0;
   }

   #konten .right-text {
    padding-top: 30px;
    padding-left: 60px;
    margin-left: -20px;
    padding-right: 20px;

}

#konten .subhead p {
    font-size: 43px;
    font-family: 'Karla', sans-serif;
    line-height: 37px;
}

   #konten .left-text p {
   margin-bottom: 10px;
   font-size: 18px;
   font-family: 'Karla', sans-serif;
   }

   #konten .no-pad p{
       margin-top: -2px;
       margin-bottom: -2px;
       margin-left: 30px;
       font-size: 18px;
       font-family: 'Karla', sans-serif;
     }

     .footer-down{
         margin-top: 70px;
     }

   .footer-down p {
   margin-top: -45px;
   padding-bottom: 50px;
   font-family: 'Karla', sans-serif;
   font-size: 16px;
}

   .short-text {
       display: inline-block;
   }

   .short-text br {
       margin-top: 20px;
   }

   .full-text {
       display: none;
   }
   
 } 

 @media (max-width:425px) {
    #kolom, #s-hidden {
        display: none !important;
      }

   .down-pad {
       padding-top: 0;
   }

   #konten .right-text {
    padding-top: 10px;
    padding-left: 50px;
    margin-left: -20px;
    padding-right: 30px;
}

#konten .subhead p {
    font-size: 35px;
    font-family: 'Karla', sans-serif;
    line-height: 30px;
}

   #konten .left-text p {
   margin-bottom: 5px;
   font-size: 17px;
   font-family: 'Karla', sans-serif;
   }

   #konten .no-pad p{
       margin-top: -2px;
       margin-bottom: -2px;
       margin-left: 20px;
       font-size: 17px;
       font-family: 'Karla', sans-serif;
     }

   .footer-down p {
   margin-top: -45px;
   padding-bottom: 50px;
   font-family: 'Karla', sans-serif;
   font-size: 15px;
}

.footer-down{
    margin-top: 70px;
}

   .short-text {
       display: inline-block;
   }

   .short-text br {
       margin-top: 20px;
   }

   .full-text {
       display: none;
   }
   
 } 

 @media (max-width:375px) {
    #kolom, #s-hidden {
        display: none !important;
      }

   .down-pad {
       padding-top: 0;
   }

   #konten .right-text {
    padding-top: 10px;
    padding-left: 40px;
    margin-left: -20px;
}

#konten .subhead p {
    font-size: 30px;
    font-family: 'Karla', sans-serif;
    line-height: 30px;
}

   #konten .left-text p {
   margin-bottom: 5px;
   font-size: 17px;
   font-family: 'Karla', sans-serif;
   }

   #konten .no-pad p{
       margin-top: -2px;
       margin-bottom: -2px;
       margin-left: 10px;
       font-size: 17px;
       font-family: 'Karla', sans-serif;
     }

     .footer-down{
        margin-top: 70px;
    }

   .footer-down p {
   margin-top: -45px;
   padding-bottom: 50px;
   font-family: 'Karla', sans-serif;
   font-size: 15px;
}

   .short-text {
       display: inline-block;
   }

   .short-text br {
       margin-top: 20px;
   }

   .full-text {
       display: none;
   }
   
 }
 
 @media (max-width:320px) {
    #kolom, #s-hidden {
        display: none !important;
      }

   .down-pad {
       padding-top: 0;
   }

   #konten {
       padding-top: 11em;
   }

   #konten .right-text {
    padding-top: 10px;
    padding-left: 40px;
    margin-left: -20px;
}

#konten .subhead p {
    font-size: 27px;
    font-family: 'Karla', sans-serif;
    line-height: 27px;
}

   #konten .left-text p {
   margin-bottom: 5px;
   font-size: 16.5px;
   font-family: 'Karla', sans-serif;
   line-height: 25px;
   }

   #konten .no-pad p{
       margin-top: -2px;
       margin-bottom: -2px;
       margin-left: 10px;
       font-size: 16.5px;
       font-family: 'Karla', sans-serif;
     }

     .footer-down{
        margin-top: 75px;
    }

   .footer-down p {
   margin-top: -45px;
   padding-bottom: 50px;
   font-family: 'Karla', sans-serif;
   font-size: 14px;
}

   .short-text {
       display: inline-block;
   }

   .short-text br {
       margin-top: 20px;
   }

   .full-text {
       display: none;
   }
   
 } 

 /* @media (max-width:580px) {
    #kolom, #s-hidden {
        display: none !important;
      }

   .down-pad {
       margin-top: -20px;
       padding-top: 40px;
   }


   #konten .right-text {
    padding-top: 30px;
    padding-left: 40px;
    margin-left: -0px;
}

#konten .subhead p {
    font-size: 45px;
    font-family: 'Karla', sans-serif;
    line-height: 35px;
}

   #konten .left-text p {
   margin-bottom: 10px;
   font-size: 14px;
   font-family: 'Karla', sans-serif;
   margin-right: 20px;
   }

   #konten .no-pad p{
       margin-top: -2px;
       margin-bottom: -2px;
       margin-left:30px;
       font-size: 14px;
       font-family: 'Karla', sans-serif;
     }

   .footer-down p {
   font-family: 'Karla', sans-serif;
   font-size: 14px;
}

   .short-text {
       display: inline-block;
   }

   .short-text br {
       margin-top: 20px;
   }

   .full-text {
       display: none;
   }
   
 } 

 @media (max-width:527px) {
    #kolom, #s-hidden {
        display: none !important;
      }

   .down-pad {
       margin-top: -20px;
       padding-top: 20px;
   }


   #konten .right-text {
    padding-top: 30px;
    padding-left: 60px;
    margin-left: -0px;
}

#konten .subhead p {
    font-size: 40px;
    font-family: 'Karla', sans-serif;
    line-height: 35px;
}


   #konten .left-text p {
   margin-bottom: 10px;
   font-size: 14px;
   font-family: 'Karla', sans-serif;
   }

   #konten .no-pad p{
       margin-top: -2px;
       margin-bottom: -2px;
       margin-left: 50px;
       font-size: 14px;
       font-family: 'Karla', sans-serif;
     }

   .footer-down p {
   font-family: 'Karla', sans-serif;
   font-size: 14px;
}

   .short-text {
       display: inline-block;
   }

   .short-text br {
       margin-top: 20px;
   }

   .full-text {
       display: none;
   }
   
 } 

 @media (max-width:481px) {
    #kolom, #s-hidden {
        display: none !important;
      }

   .down-pad {
       margin-top: -10px;
       padding-top: 0px;
   }


   #konten .right-text {
       padding-left: 160px;
   }

   #konten .subhead p {
       margin-bottom: 40px;
       padding-right: 30px;
       font-size: 26px;
       font-family: 'Karla', sans-serif;
       font-weight: 900;
   }

   #konten .left-text p {
   margin-bottom: 10px;
   font-size: 12px;
   font-family: 'Karla', sans-serif;
   }

   #konten .no-pad p{
       margin-top: -2px;
       margin-bottom: -2px;
       margin-left: 60px;
       font-size: 12px;
       font-family: 'Karla', sans-serif;
     }

   .footer-down p {
   font-family: 'Karla', sans-serif;
   font-size: 12px;
}

   .short-text {
       display: inline-block;
   }

   .short-text br {
       margin-top: 20px;
   }

   .full-text {
       display: none;
   }
   
 } 

 @media (max-width:474px) {
    #kolom, #s-hidden {
        display: none !important;
      }

   .down-pad {
       margin-top: -10px;
       padding-top: 0px;
   }


   #konten .right-text {
    padding-left: 40px;
    margin-left: 0px;   }

   #konten .subhead p {
       margin-bottom: 40px;
       padding-right: 30px;
       font-size: 30px;
       font-family: 'Karla', sans-serif;
       font-weight: 900;
   }

   #konten .left-text p {
   margin-bottom: 10px;
   font-size: 12px;
   font-family: 'Karla', sans-serif;
   }

   #konten .no-pad p{
       margin-top: -2px;
       margin-bottom: -2px;
       margin-left: 30px;
       font-size: 12px;
       font-family: 'Karla', sans-serif;
     }

   .footer-down p {
   font-family: 'Karla', sans-serif;
   font-size: 12px;
}

   .short-text {
       display: inline-block;
   }

   .short-text br {
       margin-top: 20px;
   }

   .full-text {
       display: none;
   }
   
 } 

 @media (max-width:444px) {
    #kolom, #s-hidden {
        display: none !important;
      }

   .down-pad {
       margin-top: -10px;
       padding-top: 0px;
   }


   #konten .right-text {
       padding-left: 30px;
       margin-left: 0px;
   }

   #konten .subhead p {
       margin-bottom: 40px;
       padding-right: 30px;
       font-size: 30px;
       font-family: 'Karla', sans-serif;
       font-weight: 900;
   }

   #konten .left-text p {
   margin-bottom: 10px;
   margin-right: auto;
   font-size: 12px;
   font-family: 'Karla', sans-serif;
   }

   #konten .no-pad p{
       margin-top: -2px;
       margin-bottom: -2px;
       margin-left: 20px;
       font-size: 12px;
       font-family: 'Karla', sans-serif;
     }

   .footer-down p {
   font-family: 'Karla', sans-serif;
   font-size: 12px;
}

   .short-text {
       display: inline-block;
   }

   .short-text br {
       margin-top: 20px;
   }

   .full-text {
       display: none;
   }
   
 } 

 @media (max-width:369px) {
    #kolom, #s-hidden {
        display: none !important;
      }

   .down-pad {
       margin-top: -10px;
       padding-top: 0px;
   }


   #konten .right-text {
       padding-left: 30px;
       margin-left: 0px;
   }

   #konten .subhead p {
       margin-bottom: 40px;
       padding-right: 30px;
       font-size: 27px;
       font-family: 'Karla', sans-serif;
       font-weight: 900;
   }

   #konten .left-text p {
   margin-bottom: 10px;
   margin-right: auto;
   font-size: 11px;
   font-family: 'Karla', sans-serif;
   }

   #konten .no-pad p{
       margin-top: -2px;
       margin-bottom: -2px;
       margin-left: 30px;
       font-size: 11px;
       font-family: 'Karla', sans-serif;
     }

   .footer-down p {
   font-family: 'Karla', sans-serif;
   font-size: 11px;
}

   .short-text {
       display: inline-block;
   }

   .short-text br {
       margin-top: 20px;
   }

   .full-text {
       display: none;
   }
   
 }  */